html, body{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 1.1em;
}

* {
    box-sizing: border-box;
}

.content{
	width: 50%;
	min-width: 850px;
	position: relative;
	margin:auto;
	padding: 40px;
	border-right: 1px dashed #cdcdcd;
	border-left: 1px dashed #cdcdcd;
}

.text h1{
	margin-bottom: 50px;
}

.text p{
	text-indent: 50px;
}

.content .contact{
	width:80%;
	margin-left: 45px;
}

.content .contact form{
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	padding: 20px;
}

.mail-data{
	border: 1px solid gray;
	border-radius: 5px;
	width: 46%; 
	height: 50px;
	font-family: Arial;
	font-size: 0.9em;
	margin: 2%;
    display: block;
    float: left;
	padding-left: 20px;
}

.msg{
	width: 96%;
	padding-top: 20px;
	height: 150px;
}

.btn{
	width: 96%;
	border-radius: 5px;
	height: 40px;
	background: #646464;
	color:white;
	border: none;
	font-size: 0.9em;
	font-family: Arial;
	font-weight: bold;
	transition:all 0.5s;
}

.btn:hover{
	border:2px solid #646464;
	color:#646464;
	cursor: pointer;
	background: white;
}
